.back-button {
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  .search-result {
    margin-right: 4px;
    margin-left: 4px;
    font-size: 18px;
  }

  .next-button {
    margin-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  .stretch-button {
    background-color: green;
    color: white;
    padding: 8px 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: padding 0.9s;
  }

  .stretch-button:hover {
    padding: 18px 36px;
  }

  .shadow-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    padding: 8px 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;

  }

  .shadow-button:active {
    box-shadow: none;
    margin-top: 3px;
    margin-left: 3px;
  }

  .button-set {
    background-color: green;
    color: white;
    font-size: 18px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 15px;
    cursor: pointer;
    transition: padding 0.15s, margin 0.15s;
  }

  .button-set:hover {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0px;
    margin-right: 0px;
  }