* {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

  .a1-text {
    font-size: 13px;
    font-weight: bold;
    color: rgb(233, 135, 23);
    text-align: center;
    margin-top: 6px;
    margin-bottom: 10px;
  }

  .a2-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
  }

  .a3-text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
  }

  .a4-text {
    font-size: 15px;
    text-align: center;
    color: rgb(24, 23, 23);
    margin-bottom: 10px;
  }

  .a5-button {
    background-color: rgb(15, 121, 207);
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
    padding: 4px 8px 4px 8px;
    margin-left: 47%;
    height: 26px;
    width: 48px;
    border-radius: 13px;
    margin-bottom: 60px;
  }

  .amount {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .usd {
    font-size: 15px;
    color: gray;
  }

  .positive-percentage {
    color: rgb(11, 129, 30);
    font-size: 15px;
    margin-bottom: 6px;
  }

  .b3-text {
    color: gray;
    font-size: 15px;
    margin-bottom: 60px;
  }

  .negative-percentage {
    color: rgb(225, 42, 17);
  }

  .c1-text {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .c1-text2 {
    font-weight: 400;
    color: gray;
  }

  .c2-text {
    width: 500px;
    margin-bottom: 20px;
    line-height: 20px;
  }

  .c3-text2 {
    color: rgb(15, 121, 207);
  }
